p.welcome{
    color:#00FDDB;
  font-size:50px;
}

body{
background-color:#FFD700;
}

h1.titre{
font-size:100px;
padding-left:180px;
}

nav.menu ul li.btn{
font-size:50px;
list-style-type:none;
display:inline-block;
}


nav.menu ul li.btn a{

color: red;
background:#000;
padding:10px;
text-decoration:none;
}

nav.menu ul li.btn:hover a{

background:#D3D3D3;
color:red;
transition:0.3s;

}

